/* 
  only used once for main tsx to reset the default styling
  any modification would affect all pages,
  be cautious to modify this file
*/

html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  width: 100%;
}

#root {
  display: flex;
  flex: 0 0 100%;
}
